<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/burgerstyle.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Advent+Pro&display=swap" rel="stylesheet"> 
	<title>Devouring Burgers</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/frontburger.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>