<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/burgerstyle.css" type="text/css" />
		<title>Devouring Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/assets/js/frontburger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>