<div class="container">
  <div class="row justify-content-center">
    <h1>Welcome to the burger shop</h1>
  </div>
  <div class="row justify-content-center">
    <img src="/assets/images/burgerimg.bmp" alt="burgerimage" width="200px" height:"200px">
  </div>

  <div class="row justify-content-center">
    <h2>Hungry? Let's eat some burgers!</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <h5>Burgers ready to be eaten. Choose one to devour!</h5>

      <ul class="devouredBurgers">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-4 offset-sm-2">
      <h5>Burgers devoured</h5>

      <ul class="freshBurgers">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 offset-sm-2">
      <h3>First, add a burger to the list</h3>
      <form class="create-form">

        <div class="form-group">
          <label for="burgername">What burger would you like to add?</label>
          <input type="text" id="bgname" name="name">
        </div>
        <button type="submit">Add this burger</button>

      </form>
    </div>
  </div>
</div>